html {
    background-color: #444444;
}

body {
    margin: 0px;
}



.bar-item: hover {
    background-color: #000;
}

.Navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#444444;
    opacity: 0.7;
}

.bar-item {
    padding:8px 16px;
    float:right;
    width:auto;
    border:none;
    display:block;
    outline:0;
    text-align:center;
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:#aaa444;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    opacity:1;
}

.white {
    color: white;
}

.animate-top {
    position:relative;
    animation:animatetop 0.4s;
}

.parallax {
    background-image: url("./../images/biking.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.display-middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    padding:12px 24px!important;
    color: #fff;
    background-color: #000;
    font-size: 24px!important;
    letter-spacing:4px;
    opacity: 0.9;
}

h1,h2 {
    font-family:Verdana,sans-serif;
    font-size:24px;
    line-height:1.5;
    text-align: center;
}

.about {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.godown-60 {
    padding-top: 65px;
}

.content {
    align-content: center;
}

.table-middle {
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    padding:12px 24px!important;
    color: #fff;
    background-color: #000;
    font-size: 24px!important;
    letter-spacing:4px;
    opacity: 0.9;
}