html {
    background-color: #444444;
}

#navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px;
}

.NavBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
}

.parallax {
    background-image: url("./../images/biking.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}